{% extends "index.html" %}


{% block content %}

{% if all_products %}
  <table  class="table table-hover">
       <thead>
           <tr>
             <th>Name</th>
             <th> Description</th>
             <th> Shop Name</th>
           </tr>
        </thead>
  <tbody>
  {% for product in all_products %}
  <tr>
    <td>{{product.name}}</td>
    <td>{{product.description}}</td>
    {% with product.shop_set.all|first as shop %}
        <td>{{ shop.name }}</td>
    {% endwith %} 
  
  </tr>
  {% endfor %}
  </tbody>
  </table>
  {% else %}
        <p>No Shops in the database</p>
{% endif %}
{% endblock %}
